<!DOCTYPE html>
<html>
  <head>
    <title>object table</title>
  </head>
  <body>
    <h1>object table</h1>
    {% for type, table in tabulated.items() %}
    <h2>{{ type }}</h2>
    <table border>
    <tr>
      {% for name in table.column_names %}
      <th>{{ name }}</th>
      {% endfor %}
    </tr>
    {% for row in table.rows %}
    <tr>
      {% for cell in row %}
      <td>{{ cell or "" }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </table>
    {% endfor %}
  </body>
</html>
