body {
    font-family: sans-serif;
}

.instruments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.instrument {
    margin: 5px;
    padding: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    flex-basis: 30%;
    min-width: 300px;
}

.instrument:target {
    background-color: #efe;
}

.detailed_item {
    margin: 5px;
    padding: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-flow: row nowrap;
}

.detailed_item .main {
    flex-grow: 1;
}

.detailed_item .left {
    width: 300px;
}

.highlight_picture {
    padding: 5px;
    background-color: lightgray;
}

.highlight_picture img {
    max-width: 100%;
    max-height: 100%;
}


h2, h3 {
    margin: 5px;
}

.contact {
    padding: 2px;
}

.name {
    display: inline-block;
}

.tags {
    display: inline-block;
}

/* Tooltip container */
.tag {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    background-color: #ccf;
    padding: 2px 6px;
}

/* Tooltip text */
.tag .tagname{
    visibility: hidden;
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tag .tagname::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tag:hover .tagname{
    visibility: visible;
    opacity: 1;
} 

.doi_color {
    background-color: #fcb426;
}

.object_table {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.object_table :target td {
    background-color: yellow;
}
